{% extends 'base.html' %}

{% block content %}
  <h1 class="mb-4">
    TODO list
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page">
      Add Task
    </a>
  </h1>

  {% if task_list %}
    {% for task in task_list %}
      <h5>{{ task.content }}
        {% if task.status %}
          <span class="text-success">[Done]</span>

        {% else %}
          <span class="text-danger">[Not Done]</span>
        {% endif %}
        <a class="btn btn-success link-to-page">
          Complete
        </a>
      </h5>
      <p class="mb-2">Created: {{ task.datetime|date:"F j, Y, g:i a" }}</p>
      {% if task.tag.all %}
        <p class="text-muted mb-2">Tags:
          {% for tag in task.tag.all %}
            #{{ tag }}
          {% endfor %}
        </p>
      {% endif %}
      <p>
        <a href="{% url 'todo:task-update' pk=task.id %}">Update</a>
        <a href="{% url 'todo:task-delete' pk=task.id %}">Delete</a>
      </p>
      <hr>
    {% endfor %}
  {% else %}
    <p>There are no tags in the service.</p>
  {% endif %}
{% endblock %}